#mainContainer-contact::before {
    content: "";
    background-image: url(./background7.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    z-index: -2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
    background-size: cover;
    height: 140vh;
  }