#footer-part {
  display: grid;
  grid-area: footer-part;
}
#taxiInfoPart {
  grid-area: taxiInfo;
  color: rgb(82, 44, 18);
  justify-self: end;
  font-size: 2.5vw;
}

#header {
  align-items: start;
  grid-area: header;
  color: rgb(209, 218, 191);
  grid-template-columns: 55% 20% 25%;
  grid-template-rows: 70% 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#reservation-info{
  border-right: 3px #002861 double;
}
#head {
  font-family: monospace;
  font-size: 10vw;
  text-align: center;
}

#header div > h3 {
  font-size: 2vw;
}
.taxi-image{
width: 100%;
height: 500px;
opacity: .8;
}
.reservationInput {
  height: 35px;
  font-size: 1.2vw;
  border-radius: 20px;
  background-color: rgb(235, 234, 255);
  border: none;
  width: 70%;
}
#mapsStyle{
    width: 80% !important;
      height: 500px !important
}
.reservationInput:focus {
  outline: none;
  border-color: #356bff;
  box-shadow: 0 0 10px #054080;
}

.submitButtons {
  background-image: linear-gradient(to right, rgb(50, 50, 68), rgb(24, 13, 46));
  border-radius: 15px;
  width: 80%;
  background-clip: padding-box;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 1.4vw;
  font-weight: 600;
  min-height: 3rem;
  transition: all 250ms;
  touch-action: manipulation;
}
#reserv-explanation {
  font-weight: bold;
}
#explanation-text {
  visibility: hidden;
  color: rgb(36, 26, 7);
}
#reserv-explanation:hover + #explanation-text {
  visibility: visible;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: rgb(238, 226, 226);
  color: black;
}
.submitButtons:hover {
  transform: translateY(-5px);
  background-color: rgb(147, 207, 247);
  background-image: none;
  color: #002861;
  box-shadow: 0 0 5px #aba0f3;
}
#travel-info {
  font-family: 'Courier New', Courier, monospace;
  color: #002861;
  font-weight: bolder;
}
.result {
  border: 0 3px 0 3px solid black;
  font-family: 'Courier New', Courier, monospace;
}
