#mainContainerHome {
  background-image: url(./background1.jpeg);
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
 }
#text1{
  color: black;
  font-weight: bolder;
  -webkit-text-stroke: 1px white;
  font-size: 1.5vw;
}