
 #mainContainerHome::before{
  content: "";
  background-image: url(./background1.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  z-index: -4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .5;
  background-size: cover;
height: 120%;
 }
 #mainContainerHome{
  font-weight: bolder;
 }
.downloadLink{
  color: white;
}
.typewrite{
  text-decoration: none;
}
#first-letter{
color: blue;
font-size: 7.7rem;
}
#second-letter{
  color: rgb(104, 104, 148);
  font-size: 7.7rem;
}
#third-letter{
  color: rgb(127, 127, 167);
  font-size: 7.7rem;
}
#fourth-letter{
  color: rgb(98, 98, 109);
  font-size: 7.7rem;
}
.hello-word{
  margin-left: 14%;
  font-size: 3rem;
  font-family: Brush Script ;
 }
#letters{
  font-family: Brush Script ;
  padding-left: 20%
}
#box::before{
  content: "";
  background-image: url(./me2.png);
  position: absolute;
  z-index: -2;
  top: 20%;
  bottom: 0;
  left: 40%;
  right: 0;
background-size:70%;
background-repeat: no-repeat;
background-position: center;
 }
 #letter-I{
font-size: 21vw;
margin-bottom: 10px;
 }
