#startButton:hover {
  background-color: rgb(209, 209, 253);
  color: #111;
  border-color: rgb(209, 209, 253);
}

#startButton {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important; 
    width: 10%;
    margin: 0% 0 0 45%;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(60, 89, 255);
    border-color: #537ff7;
    color: white;
}
#pauseButtonStyle {
  width: 10%;
  margin-left: 40%;
  height: 50px;
  border-radius: 20px;
  background-color: chocolate;
  border-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important; 
  color: white;
}

#pauseButtonStyle:hover {
  background-color: rgb(134, 134, 243);
}

.scoreInfo {
  font-family: Courier;
  color: darkblue;
  font-size: 2vw;
}

#title {
  text-align: center;
  font-size: 3vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 1px 5px 5px #066aee;
  color: #82b3f3;
}

#heartStyle {
  max-width: 175px;
  height: 175px;
}
