/* Navbar */
.active {
  text-decoration: none;
  box-sizing: border-box;
}

#navUl li:last-child {
  border-right: none;
  float: right;
}

#navContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0077b6;
}

#navUl li {
  float: left;
}

#navUl li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.8vw;
  font-weight: bolder;
  font-family: "Ink Free", Times, serif;
}

#navUl li a:hover {
  background-color: white;
  color: rgb(108, 2, 206);
  transition: 0.5s;
  border-radius: 10px;
}
/* footer part */
#footer {
  background-color: rgb(108, 2, 206);
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: "subFooter subFooter1 subFooter2 subFooter3";
  grid-area: footer;
  margin-top: 2%;
  max-width: 100%;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 4.5rem; 
  padding-bottom: 4%;
}

.footerLinks {
  color: #fff;
  text-decoration: none;
  font-size: 1.6vw;
}

.linkDivs:first-child {
  padding-left: 20%;
}

#subFooter {
  grid-area: subFooter;
  padding-top: 10px;
}

#subFooter1 {
  grid-area: subFooter1;
  padding-top: 10px;
}

#subFooter2 {
  grid-area: subFooter2;
  padding-top: 10px;
}

#subFooter3 {
  grid-area: subFooter3;
}

