#mainContainerAbout::before{
    content: "";
    background-image: url(./background5.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    z-index: -4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .6;
    background-size: cover;
    height: 190%;
   }
   #mainContainerAbout{
    font-weight: bolder;
   }
#profile-image{
  z-index: -2;
}
#text-gen{
  color: rgb(22, 31, 46);
  -webkit-text-stroke: .5px rgb(219, 200, 200);
  font-size: 1.2rem;
  padding-top: 5%;
}
#text-1{
  width: 130%;
}
#text-2{
  margin-left: 5%;
  width: 130%;
}
#text-3{
  margin-left: 10%;
  width: 130%;
}
#text-4{
  margin-left: 15%;
  width: 130%;
}
.d-block{
  height: 250px;
  width: 300px;
  margin: 0 5% 0 5% ;
}
.carousel-inner{
  width: 300px;
}
.carosel-text{
  color: black;
  -webkit-text-stroke: .3px rgb(219, 200, 200);
  font-size: 1.2rem;
}